APP_NAME="Filament Domain Manager Playground"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=playground_db
DB_USERNAME=root
DB_PASSWORD=

DOMAIN_MANAGER_INGRESS_TARGET=ingress.example.com
DOMAIN_MANAGER_INGRESS_IP=198.51.100.1
